p
  |Dear&nbsp;
  = @reservation.full_name
p
  |Cảm ơn quý khách đã quan tâm ủng hộ ViHotel.
p
  |Nhân viên của chúng tôi sẽ liên lạc với quý khách trong thời gian sớm nhất.
p
  |Bên dưới là thông tin đặt phòng của quý khách.

h3
  |Thông tin đặt phòng
strong
  |Họ và tên:&nbsp;
= @reservation.full_name
br/
br/
strong
  |Email:&nbsp;
= @reservation.email
br/
br/
strong
  |Số điện thoại:&nbsp;
= @reservation.phone
br/
br/
strong
  |Công ty:&nbsp;
= @reservation.company
br/
br/
strong
  |Địa chỉ:&nbsp;
= @reservation.address
br/
br/
strong
  |Ngày vào:&nbsp;
= @reservation.check_in.strftime("%d-%m-%Y")
br/
br/
strong
  |Ngày ra&nbsp;
= @reservation.check_out.strftime("%d-%m-%Y")
br/
br/
strong
  |Loại phòng:&nbsp;
= @reservation.room_type
br/
br/
strong
  |Số lượng phòng&nbsp;
= @reservation.number_of_room
br/
br/
strong
  |Số lượng người lớn&nbsp;
= @reservation.number_adult
br/
br/
strong
  |Trẻ em:&nbsp;
= @reservation.number_children
br/
br/
strong
  |Yêu cầu khác:&nbsp;
= @reservation.requirement
br/
br/
|Trân trọng,
br/
|Vĩnh Hoàng Hotel.