<h1>Editing Photo Overview</h1>

<%= render 'form_edit' %>

<%= link_to 'Show', hotel_overview_photo_overview_path(@hotel_overview, @photo_overview) %> |
<%= link_to 'Back', hotel_overview_photo_overviews_path %>
