<h1>Editing Room Type</h1>

<%= render 'form' %>

<%= link_to 'Show', parent_room_type_room_type_path(@parent_room_type, @room_type) %> |
<%= link_to 'Back', parent_room_type_room_types_path(@parent_room_type) %>
