<h1>Editing Photo Of Room</h1>

<%= render 'form' %>

<%= link_to 'Show', room_type_photo_of_room_path(@room_type, @photo_of_room) %> |
<%= link_to 'Back', room_type_photo_of_rooms_path(@room_type) %>
