h3 = t(".text_header")
= render 'form_edit'
= link_to t(".show"), room_type_photo_of_room_path(@room_type, @photo_of_room)
|&nbsp;|&nbsp;
= link_to t(".back"), room_type_photo_of_rooms_path(@room_type)
