<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room_feature.name %>
</p>

<%= link_to 'Edit', edit_room_feature_path(@room_feature) %> |
<%= link_to 'Back', room_features_path %>
