@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
#vi-header {
  .logo {
    height: 80px;
    margin-top: -10px;
  }
  .parent-navbar {
    position: fixed;
    z-index: 10000;
    background-color: white;
    width: 100%;
    height: 90px;
    border-radius: 0px;
    display: none;
  }
  #vi-navbar {
    height: 90px !important;
  }
  .menu-center {
    z-index: 10000;
    float: none;
    margin: auto;
    width: 1000px;
    height: 90px;
    a {
      line-height: 60px;
      text-transform: uppercase;
      color: #333333;
      font-size: 14px;
      font-weight: 400;font-family: Montserrat;
    }
    a:hover {
      background: none;
      color: #fe5e22;
    }
  }
}