@import 'constant';
#vi-alert {
  margin-bottom: 0px;
  border-radius: 0px;
}
#vi-header {
  .vi-language {
    top: 27px;
    z-index: 10000;
    position: fixed;
    left: 0px;
    border-radius: 0px;
    .vi-button {
      border-radius: 0px;
      width: 50px;
      background-color: transparent;
    }
    .btn-group.open .dropdown-toggle {
      box-shadow: none;
    }
    .dropdown-menu>li>a {
      padding-left: 13px;
      padding-right: 11px;
    }
    ul {
      min-width: 50px !important;
    }
  }
  .logo {
    height: 80px;
    margin-top: -10px;
  }
  .parent-navbar {
    top: 0;
    position: fixed;
    z-index: 10000;
    background-color: white;
    width: 100%;
    height: 90px;
    border-radius: 0px;
    display: none;
    border-bottom: 1px solid $main-color;

    .dropdown-menu {
      top: 89%;
      min-width: 101px;
    }
    .logo-mobile {
      display: none;
    }
  }
  #vi-navbar {
    height: 90px !important;
  }
  .menu-center {
    z-index: 10000;
    float: none;
    margin: auto;
    display: table;
    height: 90px;

    a {
      padding-left: 10px;
      padding-right: 10px;
      line-height: 60px;
      text-transform: uppercase;
      color: #333333;
      font-size: 16px;
      font-family: Arial;
      font-weight: 400;
      text-align: center;
    }
    a:hover, a:focus {
      background: none;
      color: $main-color;
    }
    .parent-li:hover {
      .vi-submenu {
        display: block;
      }
    }
    .sub-li:hover {
      .vi-sub-submenu {
        display: block;
      }
    }
    .vi-sub-submenu {
      list-style: none;
      padding-left: 0px;
      background-color: white;
      display: none;
      position: absolute;
      margin-left: 220px;
      width: 200px;
      margin-top: -60px;
    }
    .accommodation-submenu {
      width: 220px !important;
      li {
        height: 50px;
      }
    }
    .vi-submenu {
      list-style: none;
      padding-left: 0px;
      text-align: center;
      display: none;
      background-color: white;
      a:hover {
        text-decoration: none;
      }
      position: absolute;
      width: 150px;
      margin-top: -1px;
      a {
        text-transform: capitalize !important;
      }
    }
  }
}
#vi-main-content {
  margin-top: 90px;
  margin-bottom: 50px;
  .main-content-margin-top {
    padding-top: 15px;
  }
}
#vi-main-content.home-page {
  margin-top: 0px;
  margin-bottom: 0px;
}
#vi-main-content.about {
  background-color: #f7f7f7;
  margin-top: 90px;
  margin-bottom: 0px;
}
#bottom {
  .section-margin {
    margin-top: 50px;
    padding-bottom: 30px;
  }
  .footer-wrapper {
    .logo-img {
      width: 160px;
    }
    a:hover {
      background-color: transparent;
    }
  }
  background: transparent image-url('bg.jpg') 50% 50% no-repeat;
  background-size: cover;
  border-top: 1px solid white;
  border-bottom: 1px solid $main-color !important;
  .footer-heading {
    font: bold 18px/19px 'Roboto Condensed', sans-serif;
    letter-spacing: 1.5px;
    color: #e1e1e1;
    text-transform: uppercase;
  }
  .footer-heading::first-letter {
    color: $main-color;
  }
  .footer-content {
    font: normal 13px/20px;
    color: #dcdcdc;
    margin: 40px 0 0;
  }
  ul.footercontact, ul.footermenu {
    padding: 0px;
    span {
      color: #dcdbdb;
      text-transform: capitalize;
    }

    li {
      font: normal 13px/28px sans-serif;
      color: white;
      letter-spacing: 1.2px;
      list-style: none;
      font-size: 14px;
      a {
        color: white;
      }
      a:hover {
        background-color: transparent;
        text-decoration: none;
        color: $main-color;
      }
    }
  }
}
#footer {
  background: transparent image-url('bg.jpg') 50% 86% no-repeat;
  background-size: cover;
  padding: 20px 0;
  .text-block {
    color: white;
    padding-top: 11px;
    font-size: 14px;
    .copy-right {
      margin-top: 9px;
    }
    a {
      color: white;
    }
    a:hover {
      color: $main-color;
      text-decoration: none;
      background-color: transparent;
    }
  }

  .backtop {
    margin-right: 10px;
    color: black;
    border: 1px solid #171715;
    padding: 3px 5px;
    font-size: 24px;
    overflow: hidden;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    line-height: 30px;
    background-color: white;
    text-align: center;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms;
    transition: 500ms;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transform: translateZ(0);
  }
  .backtop:hover {
    background-color: #2e2e2e;
  }
}
a {
  color: black;
}

@media screen and (max-width: 767px) {
  #vi-main-content {
    margin-top: 52px;
    margin-bottom: 15px;
  }
  #vi-main-content.about {
    margin-top: 15px;
  }
  .single-post {
    margin-bottom: 40px;
  }
  #vi-header {
    .parent-navbar {
      height: 52px;
      .navbar-toggle {
        background-color: #ccc;
        .icon-bar  {
          background-color: white;
        }
      }
      #vi-navbar {
        background-color: white;
        height: 273px !important;
      }
      .vi-language  {
        top: 8px;
      }
      .logo-mobile {
        display: block;
        position: absolute;
        left: 44%;
        top: 10px;
        .logo {
          width: 47px;
          height: 47px;
        }
        a:hover {
          background-color: transparent;
        }
      }
    }
  }
  #bottom {
    .footer-heading {
      margin-top: 30px;
    }
    .section-margin {
      text-align: center;
    }
  }
}

