.vi-event {
  .side-bar {
    margin-top: 65px;
    margin-bottom: 55px;
    .side-bar-content {
      padding: 30px;
      background-color: white;
      .vi-panel-title {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .fanpage {
      margin-top: 30px;
    }

    .quotation {
      padding-bottom: 35px;
      .vi-button {
        float: right;
        height: 40px;
        width: 100%;
        -webkit-appearance: none;
        margin: 0;
        border: none;
        overflow: visible;
        font: inherit;
        color: white;
        text-transform: none;
        display: inline-block;
        box-sizing: border-box;
        background: #F4980D;
        text-decoration: none;
        line-height: 40px;
        text-align: center;
        border: 1px solid white;
        font-family: Arial;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .vi-event {
    .fanpage {
      display: none;
    }
  }
}