.vi-excursion {
  .side-bar {
    margin-top: 65px;
    margin-bottom: 55px;
    .side-bar-content {
      padding: 30px;
      background-color: white;
      .vi-panel-title {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .fanpage {
      margin-top: 30px;
    }
  }
}