@import 'constant';
#vi-main-content {
  #main-slider {
    .vi-language {
      position: absolute;
      z-index: 100;
      left: 0px;
      border-radius: 0px;
      .vi-button {
        border-radius: 0px;
        width: 50px;
        background-color: transparent;
      }
      .btn-group.open .dropdown-toggle {
        box-shadow: none;
      }
      .dropdown-menu>li>a {
        padding-left: 13px;
        padding-right: 11px;
      }
      ul {
        min-width: 50px !important;
      }
    }
    .slogan {
      color: white;
      font-size: 23px;
      line-height: 5px;
      font-style: italic;
      font-weight: normal;
      position: absolute;
      top: 49%;
      margin: auto;
      right: 0;
      left: 0;
      text-transform: uppercase;
      text-shadow: 1px 1px 2px #000;
    }
    .item-slide-1 {
      background:  image-url('hash.svg') 0 0 repeat, image-url('slider/horizontal-1.jpg') no-repeat center center;
    }
    .item-slide-2 {
      background:  image-url('hash.svg') 0 0 repeat, image-url('slider/horizontal-1.jpg') no-repeat center center;
    }
    .carousel .slide-margin {
      margin-top: 40px;
    }
    .logo {
      width: 115px;
      margin-left: -8px;
    }
    .vi-logo {
      margin: auto;
      width: 100px;
      a:hover {
        background-color: transparent;
      }
    }
    .menu-z-index {
      z-index: 1000;
    }
    .carousel-menu {
      position: absolute;
      top: 160px;
      z-index: 10000;
      margin: auto;
      left: 0px;
      right: 0px;
    }
    .menu-center {
      z-index: 100;
      float: none;
      margin: auto;
      display: table;
      a {
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        font-weight: 700;
        text-shadow: 1px 1px 2px #000;
      }
      a:hover {
        background: none;
        color: $main-color;
      }
      .parent-li:hover {
        .vi-submenu {
          display: block;
        }
      }
      .sub-li:hover {
        .vi-sub-submenu {
          display: block;
        }
      }
      .vi-sub-submenu {
        list-style: none;
        padding-left: 0px;
        background-color: white;
        display: none;
        position: absolute;
        margin-left: 180px;
        padding-top: 14px;
        width: 160px;
        margin-top: -34px;
      }
      .vi-submenu {
        list-style: none;
        padding-left: 0px;
        text-align: center;
        display: none;
        background-color: white;
        width: 180px !important;
        padding-top: 14px;
        li {
          height: 35px;
        }
        a:hover {
          text-decoration: none;
          color: $main-color;
        }
        position: absolute;
        width: 150px;
        margin-top: -1px;
        a {
          text-transform: capitalize !important;
          text-shadow: none;
          color: rgba(68, 68, 68, 0.6);
          font-weight: 100;
        }
      }
    }
    .vi-photo {
      margin-top: -50px;
      height: 600px;
      background: image-url('home_slide_01.svg') 50% 50% no-repeat;
      -moz-box-sizing: border-box;
    }
    .vi-photo-1 {
      margin-top: -100px;
      height: 600px;
      background: image-url('home_slide_02.svg') 50% 0% no-repeat;
      -moz-box-sizing: border-box;
    }
  }
  #main-content {
    .service-archive {
      background: #f7f7f7;
      .slide-right {
        padding-left: 0px;
        float: right;
      }
      .box-left {
        float: left;
      }
      .service-content {
        background-color: white;
        margin-top: 70px;
        margin-bottom: 70px;
      }
      .vi-slide-overview-content {
        width: 570px;
        height: 450px;
      }
      .vi-slides {
        width: 570px;
        height: 450px;
        display: none;
      }
      .content-box {
        padding-right: 70px;
        padding-left: 70px;
        padding-top: 55px;
        .short-content-block {
          .short-content, p, span{
            color: #444444;
            font-size: 19px !important;
            line-height: 25px;
            font-weight: normal;
          }
        }

        .vi-title a{
          color: #333333;
          font-size: 24px;
          line-height: 28px;
          font-weight: 700;
          text-transform: uppercase;
        }
        a:hover {
          background-color: transparent;
          text-decoration: none;
        }
        .vi-button:not(:disabled) {
          cursor: pointer;
        }
        .vi-button-large {
          min-height: 36px;
          padding: 0 15px !important;
          line-height: 36px !important;
          font-size: 12px !important;
        }
        .vi-button {
          -webkit-appearance: none;
          margin: 0;
          border: none;
          overflow: visible;
          font: inherit;
          color: #444444;
          text-transform: none;
          display: inline-block;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0);
          vertical-align: middle;
          text-decoration: none;
          text-align: center;
          border: 2px solid #444444;
          font-family: Arial;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2px;
          -webkit-transition: border-color 0.1s, background 0.1s, color 0.1s ease-in-out;
          transition: border-color 0.1s, background 0.1s, color 0.1s ease-in-out;
        }
        .vi-button:hover, .vi-button:focus {
          background-color: $main-color;
          color: #ffffff;
          outline: none;
          text-decoration: none;
          border-color: transparent;
        }
      }
    }


  }
  #book-block {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 90px;
    z-index: 10000;
    background: image-url('slider-book-now.png') repeat center center;
    .book-content {
      margin-top: 8px;
    }
    .label-book {
      color: white;
      float: left;
    }
    .label-book:hover {
      color: white;
    }
    .book-input {
      height: 31px;
      outline: none;
      border: 1px solid #fff;
      background-color: transparent;
    }
    .vi-button {
      height: 41px;
      width: 100%;
      -webkit-appearance: none;
      margin: 0;
      border: none;
      overflow: visible;
      font: inherit;
      color: white;
      text-transform: none;
      display: inline-block;
      box-sizing: border-box;
      background: $main-color;
      vertical-align: middle;
      text-decoration: none;
      text-align: center;
      border: 1px solid white;
      font-family: Arial;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      -webkit-transition: border-color 0.1s, background 0.1s, color 0.1s ease-in-out;
      transition: border-color 0.1s, background 0.1s, color 0.1s ease-in-out;
    }
    .vi-button:hover, .vi-button:focus {
      background-color: #F7D200;
      outline: none;
      text-decoration: none;
    }
    .book-button-block {
      margin-top: 17px;
    }
  }
}

@media screen and (max-width: 767px) {
  #vi-main-content {
    #main-slider {
      .menu-center {
        width: 175px;
        background-color: rgba(0, 0, 0, 0.64);
        a {
          color: $main-color;
          text-shadow: none;
        }
      }

      .item-slide-1, .item-slide-2 {
        background: image-url('slider/vertical-1.jpg') no-repeat center center;
        background-size: 140%;
      }
      .vi-photo, .vi-photo-1 {
        display: none;
      }
      .navbar-toggle {
        background-color: rgba(23, 22, 22, 0.45);
        .icon-bar {
          background-color: white;
        }
      }
      .navbar-header {
        margin-top: -90px;
      }
      .navbar-collapse {
        margin-top: 65px;
      }
      ul.menu-center {
        li {
          text-align: center;
        }
      }
      .prev, .next {
        background-color: transparent;
        color: #808080;
        .fa {
          font-size: 30px;
          text-shadow: -2px -1px 0px #FFF;
        }
      }
    }
    #book-block {
      padding-top: 7px;
      height: 340px;
      position: inherit;
      .book-content {
        padding-right: 15px;
        .col-margin-top {
          margin-top: 10px;
        }
        .book-input {
          width: 100%;
        }
        .col-padding {
          padding-right: 0px;
          padding-left: 0px;
        }
      }
      .book-button-block {
        margin-left: 15px;
      }
    }

    #main-content {
      .service-content {
        margin-top: 23px !important;
        margin-bottom: 17px !important;
      }
      .service-archive {
        .vi-slide-overview-content {
          width: 100%;
          height: 100%;
        }
        .vi-slides {
          width: 100%;
          height: 200px;
          display: none;
        }
        .content-box {
          padding-right: 25px;
          padding-left: 25px;
          padding-top: 10px;
          padding-bottom: 25px;
        }
        .slide-right {
          padding-left: 15px;
        }
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #vi-main-content {
    #main-content {
      .service-archive {
        .vi-slides {
          height: 330px;
        }
      }

    }
    #book-block {
      height: 300px;
    }
    #main-slider {
      .item-slide-1, .item-slide-2  {
        background-size: 100%;
      }
      .slogan {
        width: 420px;
        line-height: 25px;
        top: 47%;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  #vi-main-content #main-slider {
    .slogan {
      font-size: 18px;
      width: 270px;
      top: 47%;
      line-height: 18px;
    }
  }
}
@media screen and (max-width: 374px) {
  #vi-main-content #main-slider {
    .slogan {
      font-size: 15px;
      top: 47%;
      line-height: 18px;
      width: 265px;
    }
    .next {
      right: -5px;
    }
    .prev {
      left: -3px;
    }
  }
}
