@import 'constant';
.vi-offer {
  .side-bar {
    margin-top: 65px;
    margin-bottom: 55px;
    .side-bar-content {
      padding: 30px;
      background-color: white;
      .vi-panel-title {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .fanpage {
      margin-top: 30px;
    }
  }
}
.offer-page {
  padding-bottom: 50px;

  .offer {
    .offer-content {
      padding-top: 50px;
      .tm-panel-title-large {
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 15px 0;
        font-family: Arial;
        font-weight: 700;
        color: #333333;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .vi-margin-large-bottom {
        margin-bottom: 50px !important;
      }
      .vi-article-lead {
        color: #444444;
        font-size: 19px;
        line-height: 25px;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
  .offer-main-content {
    .offer-image {
      width: 373px;
      height: 243px;
    }
    ul.offer-block {
      padding-left: 0px;
    }
    li.each-offer-block {
      width: 373px;
      float: left;
      list-style: none;
      height: 420px;
    }
    li.each-offer-block:nth-child(3n+2) {
      margin-left: 10px;
    }
    li.each-offer-block:nth-child(3n+3) {
      margin-left: 10px;
    }
    .offer-text-block {
      background-color: white;
    }
    .offer-text {
      padding: 20px 30px 30px 30px;
      .uk-panel-title {
        font-family: "SVN_Shintia", 'sans-serif';
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #333333;
      }
      .summary-text {
        color: #444444;
        font-size: 19px;
        line-height: 25px;
        font-weight: normal;
        font-style: italic;
      }
      a:hover {
        text-decoration: none;
        background-color: transparent;
        color: $main-color;
      }
    }

  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .offer-page {
    .offer-main-content {
      li.each-offer-block {
        width: 32%;
      }
      li.each-offer-block:nth-child(3n+2) {
        margin-left: 10px;
      }
      li.each-offer-block:nth-child(3n+3) {
        margin-left: 10px;
      }
      .offer-image {
        width: 100%;
        height: 220px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .offer-page {
    .offer-main-content {
      li.each-offer-block {
        width: 48%;
      }
      li.each-offer-block:nth-child(2n+1) {
        margin-left: 0px;
      }
      li.each-offer-block:nth-child(2n+2) {
        float: right;
      }
      .offer-image {
        width: 100%;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .vi-offer {
    .fanpage {
      display: none;
    }
  }
  .offer-page {
    padding-bottom: 0px;
    .offer-main-content {
      li.each-offer-block {
        width: 100%;
        margin-bottom: 20px;
      }
      li.each-offer-block:nth-child(3n+2), li.each-offer-block:nth-child(3n+3) {
        margin-left: 0px;
      }
      .offer-image {
        width: 100%;
        height: 200px;
      }
    }
    .offer {
      .offer-content {
        padding-top: 70px;
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .offer-page {
    .offer-main-content {
      li.each-offer-block {
        width: 48%;
      }
      li.each-offer-block:nth-child(2n+1) {
        margin-left: 0px;
      }
      li.each-offer-block:nth-child(2n+2) {
        float: right;
      }
    }
  }
}